* {
    background-color: #FFF8DC;
}
h1 {
    text-align: center;  
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF8DC; 
    overflow: hidden;
}
.navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #0048ff;
}
.navbar li {
    float: left;
}
.header-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
}