@import url('https://fonts.googleapis.com/css?family=Averia%20Serif%20Libre:700|Cactus%20Classical%20Serif:400');

body {
  font-family: 'Cactus Classical Serif';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Averia Serif Libre';
  font-weight: 700;
}
:root{
    --text: #2326e1;
    --background: #fffaeb;
    --primary: #009de0;
    --secondary: #e23636;
    --accent: #5dbd3d;
}
*{
    background-color: var(--background);
}
body {
    color: var(--text);
    background-color: var(--background);
}

h1{
    color: var(--primary);
    background-color: var(--background);
}
h2, h3, h4,h5, h6{
    color: var(--secondary);
    background-color: var(--background);

}
.accent{
    color: var(--accent);
    background-color: var(--background);
}
html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}